h1{
	font-size: 40px;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	font-weight: bold ;
	font-family: 'Oxygen', sans-serif;
}
.heading{
	font-size: 20px;
	margin-left: 60px;
	padding-top: 5px;
}

.value{
	font-size: 20px;
	margin-left: 60px;
	position: relative;
}

.circle{
	padding-right: 20px;
}
.circle1{
	padding-left: 20px;
}

.submit1{
	margin-left: 60px;
	font-size: 20px;
	background-color: red;
	color: white;
}

.submit1:hover{
	border-color: aqua;
	box-shadow: aqua;
	border-width: 3px;
}

.small_heading{
	margin-left: 15px;
}