@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Yeseva+One&display=swap');

*{
	background-color: #F7F7F7;
}

h1{
	font-size: 40px;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	font-weight: bold ;
	font-family: 'Oxygen', sans-serif;
}

.main-title{
	font-family: 'Yeseva One';
}

.form-group{
	margin-bottom: 2vh;
}

.heading{
	font-size: 20px;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	color: #05186e;
	/* padding-top: 5px; */
}

.value{
	font-size: 20px;
}

.circle{
	padding-right: 20px;
}

.circle1{
	padding-left: 20px;
}

.submit1{
	background-color: #F17F7F;
    color: #F7F7F7;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    padding: 1% 2% 1% 2%;
}

.submit1:hover{
	border-color: aqua;
	box-shadow: aqua;
	border-width: 3px;
}

.small_heading{
	margin-left: 15px;
}

.form-controller{
	margin-left: 5vw;
}

@media screen and (max-width: 800px) {
	.form-controller{
		margin-left: 10vw;
	}

	textarea{
		width: 80vw;
	}
}